body {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2.2rem;
  color: #818181;
  margin: 0;
}

header {
  background-color: #a22b38;
}

section, footer {
  margin: 40px;
}

h1 {
  font-size: 43px;
  color: #fff;
  padding: 15px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600px;
  color: #303030;
}

nav li a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav li {
  float: left;
}

nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
}

nav {
  font-size: 13px;
  letter-spacing: 4px;
  height: auto;
  background-color: #a22b38;
  padding-right: 40px;
}

table {
  width: 100%;
  padding: 5px;
}

table tr:nth-child(even) {
  background-color: #e9e9e9;
}

table tr:nth-child(odd) {
  background-color: #dbdbdb;
}

table thead th {
  background-color: #a22b38;
  color: #fff;
}

#pacotes .figuras figure {
  display: inline-block;
}

img {
  width: 350px;
}

#pacotes .figuras, .videos {
    text-align: center;
  }
